TestTaskSystemGUI/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.14.86:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" />
  <xs:import schemaLocation="http://192.168.14.86:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.14.86:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceLibrary.TaskSystem.Constants" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameSegment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" minOccurs="0" name="SearchResult" nillable="true" type="q1:ArrayOfDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" minOccurs="0" name="dataSolidModel" nillable="true" type="q2:DataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" minOccurs="0" name="SelectFileResult" nillable="true" type="q3:TransmittableFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathSelectFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" minOccurs="0" name="dataSolidModel" nillable="true" type="q4:DataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathSelectFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPathSelectFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" minOccurs="0" name="dataSolidModel" nillable="true" type="q5:DataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConfigigurationResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" minOccurs="0" name="dataSolidModel" nillable="true" type="q7:DataModel" />
        <xs:element minOccurs="0" name="configuration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PDM_WebService.WcfServiceLibrary.DataContracts" minOccurs="0" name="GetSpecificationsResult" nillable="true" type="q8:ArrayOfSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDXF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDXFResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoof">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="wight" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceLibrary.TaskSystem.Constants" minOccurs="0" name="type" type="q9:RoofTypes" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoofResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVibroInsertion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="wight" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceLibrary.TaskSystem.Constants" minOccurs="0" name="type" type="q10:VibroInsertionTypes" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVibroInsertionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFlap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceLibrary.TaskSystem.Constants" minOccurs="0" name="type" type="q11:FlapTypes" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="wight" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceLibrary.TaskSystem.Constants" minOccurs="0" name="material" type="q12:Meterials" />
        <xs:element minOccurs="0" name="isOuter" type="xs:boolean" />
        <xs:element minOccurs="0" name="thickness" type="xs:float" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFlapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenSolidWorks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenSolidWorksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>